<!DOCTYPE html>
<html>
<head>
    <link href="style.css" rel="stylesheet">
    <title>Connor's Memebarn</title>
    <script src="~/JavaScript.js"></script>
</head>
<body >
    <header>
        <h1 class="title">Connor's <br /> Memebarn</h1>
        <div class="titleWelcome">
            <h1>Welcome</h1>
            <p>
                Get all your spicy memes<br />
                here at Connor's memebarn!<br />
                We have all the memes ( ͡° ͜ʖ ͡°)
            </p>
        </div>
    </header>

    <div class="box1">
        <h1>What we sell</h1><br />
        <div>
            <img src="img1-1.jpg"/>
            <img src="img1-2.jpg"/>
            <img src="img1-3.jpg"/>
        </div>
        <div>
            <img src="img1-4.jpg"/>
            <img src="gif1-5.gif"/>
            <img src="img1-6.jpg"/>
        </div>
    </div>
    <div class="box2" >
        <h1 class="leftheadings">Where we are:</h1><br /><br />
        <div class="map">
            <iframe width="500" height="400" frameborder="0" src="https://www.bing.com/maps/embed?h=400&w=500&cp=-37.817033726206574~144.96325804573019&lvl=16&typ=d&sty=r&src=SHELL&FORM=MBEDV8" scrolling="no"></iframe>
        </div>
        <div align="right">
            <h1>Welcome</h1>
            <p>
                Get all your spicy memes<br />
                here at Connor's memebarn!<br />
                We have all the memes ( ͡° ͜ʖ ͡°)
            </p>
        </div>        
        
    </div>
    <div class="box3">
        <div class="form">
            <h3>aafdgfgsfdg</h3>
            <form action="~/confirm.cshtml" method="get">
                <label for="fullName">Full Name:</label><br />
                <input type="text" name="fullName" placeholder="Enter Fullname here..." />
                <br />
                <label for="age">Message:</label><br />
                <input type="text" name="message" placeholder="Enter Message here" /><br />
                <input type="submit" value="submit" />
            </form>
        </div>
    </div>
<footer>Copyright Memebarn <br /> Company 2017</footer>
</body>

</html>
